@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,span, object, iframe{ padding: 0; margin: 0; font-size:14px; font-family:"Microsoft YaHei"; color:#3f3e3e; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; vertical-align:middle;vertical-align: middle; border: 0;  -ms-interpolation-mode: bicubic;}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
a{outline: none; text-decoration:none; color:#3e3d3d;}
input, textarea, option, textarea{border:none;}
textarea{resize: none;overflow:hidden;}
.clearfix{clear:both;}
/************css重置**************/
body{background:#F5F5F5}

/*************top****************/
.top{height:44px;background:#ff7300;text-align:center;font-size:16px;line-height:44px;color:#FFFFFF;position:relative;}
.back{position:absolute;left:12px;top:14px;width:10px}
.more{position:absolute;right:13px;width:20px;top:11px}
.search{position:absolute;right:43px;width:17px;top:13px}
.pop_up{position:absolute;width:75px;height:75px;right:10px;top:35px;background:url(../images/service/pop_up.png);background-size:100% 100%;padding-top:7px}
.pop_upText{font-size:12px;line-height:23px;width:80%;margin:0px auto;text-align:left;border-bottom:1px solid #d6d7dc;padding-left:5px}
.pop_Upbottom{border-bottom: none}

/**************banner******************/
.banner{width:100%;display:block;margin:0;padding:0;margin-bottom:10px;}

/***************service**************/
.ser_left{float:left;position:relative;background:#FFFFFF;width:50%;border:1px solid #e8e8e8;box-sizing:border-box}
.ser_left img{width:100%}
.ser_left_text{position:absolute;top:8%;left:8%}
.ser_left_text_tittle{color:#ff7300;font-size:16px}
.ser_left_text_tittle1{color:#49a7e7;font-size:16px}
.ser_left_text_tittle2{color:#20c3fe;font-size:16px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:16px;}
.ser_left_text_tittle4{color:#f9c933;font-size:16px;}
.ser_left_text_contact{color:#a8a8a8;font-size:12px;}
.ser_right{float:right;position:relative;background:#FFFFFF;width:50%;border:1px solid #e8e8e8;box-sizing:border-box}
.ser_right_line{width:100%;height:1px;background:#E8E8E8;position:absolute;top:50%;}
.ser_right img{width:100%;}
.ser_right_text1{position:absolute;top:13%;left:8%;}
.ser_right_text1_tittle{color:#f9b722;font-size:16px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:16px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:16px}
.ser_right_text1_contact{color:#a8a8a8;font-size:12px;}
.ser_right_text2{position:absolute;top:63%;left:8%;z-index: 99}
.ser_right_text2_tittle{color:#3abfa5;font-size:16px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:16px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:16px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:16px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:16px;}
.ser_right_text2_contact{color:#a8a8a8;font-size:12px;}
.ser_left>a,.ser_right>a{display:block;position:relative;z-index:100;}

/************list************/
.list_tittle{background:#FFFFFF;margin-top:10px;height:40px;font-size:14px;line-height:40px;padding-left:20px;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.list_pro{height:105px;background:#FFFFFF;border-bottom:1px solid #E8E8E8;}
.list_pro img{float:left;padding-top: 15px;}
.list_pro_text{padding-right:20px;padding-left: 100px;}
.list_pro_int{font-size:12px;margin-bottom:5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.list_pro_tittle{font-size:16px;line-height:33px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.list_pro_price{float:left;color:#ff7300;line-height:20px;}
.list_pro_btn{border:2px solid #ff7300;border-radius:3px;width:40px;line-height:20px;float:right;text-align:center;color:#ff7300;}


@media (min-width: 320px) and (max-width: 479px) {
.ser_left_text_tittle{color:#ff7300;font-size:16px}
.ser_left_text_tittle1{color:#49a7e7;font-size:16px}
.ser_left_text_tittle2{color:#20c3fe;font-size:16px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:16px;}
.ser_left_text_tittle4{color:#f9c933;font-size:16px;}
.ser_right_text1_tittle{color:#f9b722;font-size:16px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:16px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:16px}
.ser_right_text2_tittle{color:#3abfa5;font-size:16px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:16px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:16px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:16px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:16px;}
	.ser_right_text1_contact{font-size:12px;}
	.ser_right_text2_contact{font-size:12px;}
}
@media (min-width: 480px) and (max-width: 639px) {
.ser_left_text_tittle{color:#ff7300;font-size:18px}
.ser_left_text_tittle1{color:#49a7e7;font-size:18px}
.ser_left_text_tittle2{color:#20c3fe;font-size:18px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:18px;}
.ser_left_text_tittle4{color:#f9c933;font-size:18px;}
.ser_right_text1_tittle{color:#f9b722;font-size:18px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:18px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:18px}
.ser_right_text2_tittle{color:#3abfa5;font-size:18px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:18px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:18px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:18px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:18px;}
	.ser_right_text1_contact{font-size:14px;}
	.ser_right_text2_contact{font-size:14px;}
}
@media (min-width: 640px) and (max-width: 719px) {
.ser_left_text_tittle{color:#ff7300;font-size:20px}
.ser_left_text_tittle1{color:#49a7e7;font-size:20px}
.ser_left_text_tittle2{color:#20c3fe;font-size:20px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:20px;}
.ser_left_text_tittle4{color:#f9c933;font-size:20px;}
.ser_right_text1_tittle{color:#f9b722;font-size:20px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:20px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:20px}
.ser_right_text2_tittle{color:#3abfa5;font-size:20px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:20px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:20px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:20px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:20px;}
	.ser_right_text1_contact{font-size:16px;}
	.ser_right_text2_contact{font-size:16px;}
	.list_pro_int{line-height:20px;margin-bottom:15px;}
}
@media (min-width: 720px) and (max-width: 959px) {
.ser_left_text_tittle{color:#ff7300;font-size:22px}
.ser_left_text_tittle1{color:#49a7e7;font-size:22px}
.ser_left_text_tittle2{color:#20c3fe;font-size:22px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:22px;}
.ser_left_text_tittle4{color:#f9c933;font-size:22px;}
.ser_right_text1_tittle{color:#f9b722;font-size:22px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:22px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:22px}
.ser_right_text2_tittle{color:#3abfa5;font-size:22px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:22px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:22px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:22px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:22px;}
	.ser_right_text1_contact{font-size:18px;}
	.ser_right_text2_contact{font-size:18px;}
	.list_pro_int{line-height:20px;margin-bottom:15px;}
}
@media (min-width: 960px) and (max-width: 1079px) {
.ser_left_text_tittle{color:#ff7300;font-size:22px}
.ser_left_text_tittle1{color:#49a7e7;font-size:22px}
.ser_left_text_tittle2{color:#20c3fe;font-size:22px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:22px;}
.ser_left_text_tittle4{color:#f9c933;font-size:22px;}
.ser_right_text1_tittle{color:#f9b722;font-size:22px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:22px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:22px}
.ser_right_text2_tittle{color:#3abfa5;font-size:22px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:22px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:22px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:22px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:22px;}
	.ser_right_text1_contact{font-size:18px;}
	.ser_right_text2_contact{font-size:18px;}
	.list_pro_int{line-height:20px;margin-bottom:15px;}
}
@media (min-width: 1080px) {
.ser_left_text_tittle{color:#ff7300;font-size:22px}
.ser_left_text_tittle1{color:#49a7e7;font-size:22px}
.ser_left_text_tittle2{color:#20c3fe;font-size:22px;}
.ser_left_text_tittle3{color:#33b0b7;font-size:22px;}
.ser_left_text_tittle4{color:#f9c933;font-size:22px;}
.ser_right_text1_tittle{color:#f9b722;font-size:22px;}
.ser_right_text1_tittle1{color:#4dc1af;font-size:22px;}
.ser_right_text1_tittle2{color:#f85e40;font-size:22px}
.ser_right_text2_tittle{color:#3abfa5;font-size:22px;}
.ser_right_text2_tittle1{color:#f85e40;font-size:22px;}
.ser_right_text2_tittle2{color:#3abfa5;font-size:22px;}
.ser_right_text2_tittle3{color:#48a0dc;font-size:22px;}
.ser_right_text2_tittle4{color:#6db9ec;font-size:22px;}
	.ser_right_text1_contact{font-size:18px;}
	.ser_right_text2_contact{font-size:18px;}
	.list_pro_int{line-height:20px;margin-bottom:15px;}
}

