<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="    
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">    
		
	<!-- 使用注解的包，包括子集 -->
	<context:component-scan base-package="com.mvc.controller" />
    
	<!-- 方式一：ContentNegotiatingViewResolver统一支配  start -->
	    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">    
		    <property name="mediaTypes">    
		      <map>    
		        <entry key="html" value="text/html"/>    
		        <entry key="spring" value="text/html"/>  
		        <entry key="json" value="application/json"/>    
		      </map>    
		    </property>  
		    <property name="viewResolvers">    
		      <list>  
		        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">    
		          <property name="prefix" value="/"/>  
		          <property name="suffix" value=".jsp"/>  
		        </bean>  
		      </list>  
		    </property>  
		    <property name="defaultViews">  
		        <list>  
		            <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>  
		        </list>  
		    </property>  
		</bean>  
	<!-- end(方式一) -->
	
	<!-- 方式二： ViewResolver不同配置 单独来  start--> 
	<!-- jsp视图解析器 InternalResourceViewResolver好像只能处理jsp -->
	<!-- <bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" /><property name="prefix" value="/WEB-INF/pages" />
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="10"></property>值越大优先级越低
	</bean> -->
	<!-- end(方式二) -->
	
	
	<!-- 静态资源的路由 cache-period="31556926"--> 
	<mvc:resources mapping="/media/**" location="/media/"  />
	<mvc:resources mapping="/**.ico" location="/media/image/"  />
    <!-- <mvc:resources mapping="/download/**" location="/download/" cache-period="31556926" />
    <mvc:resources mapping="/images/**" location="/images/" cache-period="31556926" />
    <mvc:resources mapping="/js/**" location="/js/" cache-period="31556926" />
    <mvc:resources mapping="/css/**" location="/css/" cache-period="31556926" /> 
    <mvc:resources mapping="/test/**" location="/test/" cache-period="31556926" />
	<mvc:resources mapping="/node/**" location="/node/" cache-period="31556926" /> -->
	
	<!-- 文件上传配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
   </bean>
   <mvc:annotation-driven/>
</beans>  